@use '@/styles/colors';

.Avatar {
  position: relative;
  display: flex;
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;

  &__image {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__fallback {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: colors.text(300);
    color: colors.text(800);
    font-size: 0.875rem;
    font-weight: 500;
  }
}
