.NavigationMenuContent {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__legal {
    display: flex;
    flex-direction: row;
    gap: 8px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 12px 16px;
    justify-content: center;
  }
}
